.about
{
    max-width      : var(--max-width-paragraph);

    display        : flex;
    flex-direction : column;
    gap            : 2rem;

    color          : var(--color-text-primary);
    font-family    : 'Cascadia Mono', monospace;
}

.about__section
{
    display        : flex;
    flex-direction : column;
}

.about__section__question
{
    font-family : 'Cascadia Mono Italic', monospace;
    font-style  : italic;
}