.navigation
{
    width           : clamp(0rem, var(--max-width-paragraph), 100%);

    display         : flex;
    justify-content : space-between;
}

.navigation ul,
.navigation ul li
{
    display : contents;
}