.navigation
{
    width           : clamp(0rem, calc(var(--font-character-width) * 70em), 100%);

    display         : flex;
    justify-content : space-between;
}

.navigation ul,
.navigation ul li
{
    display : contents;
}