*,
*:before,
*:after
{
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
}

html
{
    font-size   : 100%;
    line-height : 1.5;
}

@media (prefers-color-scheme : light)
{
    --color-background                  : #FFFFFF;
    --color-text-primary                : #000000;
    --color-text-secondary              : #363636;
    --color-accent-saturation-lightness : 89% 89%;
}

@media (prefers-color-scheme : dark)
{
    --color-background                  : #363636;
    --color-text-primary                : #FFFFFF;
    --color-text-secondary              : #C9C9C9;
    --color-accent-saturation-lightness : 89% 13%;
}